/**
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --dropdown-font-size: var(--default-font-size);
  --dropdown-font-color: #000;
  --dropdown-background-color: color(#fff alpha(98%));
  --dropdown-padding-top: calc(var(--default-padding) / 2);
  --dropdown-padding-right: var(--default-padding-large);
  --dropdown-padding-bottom: calc(var(--default-padding) / 2);
  --dropdown-padding-left: var(--default-padding-large);
  --dropdown-border-radius: var(--default-border-radius);
  --dropdown-item-height: 36px;
  --dropdown-item-hover-color-default: #fff;
  --dropdown-item-hover-background-default: var(--color-primary);
  --dropdown-item-hover-background-secondary: #e5e5e5;
  --dropdown-divider-color: color(#000 alpha(15%));
  --dropdown-min-width: 200px;
  --dropdown-header-font-size: var(--default-font-size-small);
  --dropdown-header-color: var(--default-font-color-light);
  --dropdown-transition-duration: var(--default-transition-duration);
}

:global {
  & .tether-element {
    z-index: var(--z-index-dropdown);
  }
}

/* Reset */
.container,
.item,
.divider,
.text,
.header {
  all: initial;
}

/* Styles */
.container {
  z-index: var(--z-index-dropdown);
  display: table;
  /* overflow: hidden; */
  min-width: var(--dropdown-min-width);
  padding-top: var(--dropdown-padding-top);
  padding-right: 0;
  padding-bottom: var(--dropdown-padding-bottom);
  padding-left: 0;
  border-radius: var(--dropdown-border-radius);
  background-color: var(--dropdown-background-color);
  box-shadow: inset 0 0 0 1px color(#000 alpha(15%)), 0 1px 2px 0 color(#000 alpha(12%));
  line-height: 0;
  color: var(--dropdown-font-color);

  & .container {
    z-index: calc(var(--z-index-dropdown) + 10);
  }
}

.item {
  display: table-row;
  box-sizing: border-box;
}

.text {
  display: flex;
  flex-direction: row;
  cursor: inherit;
  user-select: none;
  font-family: var(--default-font-family);
  font-size: var(--dropdown-font-size);
  line-height: calc(var(--dropdown-item-height) / 2);
  padding: calc(var(--dropdown-item-height) / 4) 0;
  min-height: var(--dropdown-item-height);
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  color: inherit;
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-top: 0;
  padding-right: var(--dropdown-padding-right);
  padding-bottom: 0;
  padding-left: var(--dropdown-padding-left);
}

.divider {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding-top: var(--dropdown-padding-top);
  padding-right: var(--dropdown-padding-right);
  padding-bottom: var(--dropdown-padding-bottom);
  padding-left: var(--dropdown-padding-left);
  line-height: 0;

  &::before {
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: var(--dropdown-divider-color);
  }
}

.header {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding-top: 0;
  padding-right: var(--dropdown-padding-right);
  padding-bottom: 0;
  padding-left: var(--dropdown-padding-left);
  cursor: default;
  user-select: none;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  font-family: var(--default-font-family);
  font-size: var(--dropdown-header-font-size);
  font-weight: 500;
  line-height: 40px;
  color: var(--dropdown-header-color);
}

.submenu {
  composes: item;
}

.submenuWrapper {
  position: absolute;
  left: calc(100% - var(--default-padding-small));
  top: -var(--dropdown-padding-top);
  width: 100%;
}

/* Themes */
.primary {
  & .active {
    cursor: pointer;
    background-color: var(--dropdown-item-hover-background-default);
    color: var(--dropdown-item-hover-color-default);
  }

  & .hoverable {
    &:hover {
      cursor: pointer;
      background-color: var(--dropdown-item-hover-background-default);
      color: var(--dropdown-item-hover-color-default);
    }
  }
}

.secondary {
  & .active {
    cursor: pointer;
    background-color: var(--dropdown-item-hover-background-secondary);
  }

  & .hoverable {
    &:hover {
      cursor: pointer;
      background-color: var(--dropdown-item-hover-background-secondary);
    }
  }
}

/* Animations */
.appear {
  transform: translateY(-10px) scale(0.6);
  transform-origin: 50% 0;
  opacity: 0.01;
}

.appearActive {
  transition: all var(--dropdown-transition-duration) ease-in-out;
  transform: translateY(0) scale(1);
  opacity: 1;
}

.subAppear {
  transform: translateX(10px);
  transform-origin: 0 0;
  opacity: 0.01;
}

.subAppearActive {
  transition: transform var(--dropdown-transition-duration) ease-in-out,
    opacity calc(var(--dropdown-transition-duration) * 0.5) ease-in;
  transform: translateX(0);
  opacity: 1;
}
