/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --modal-group-edit-font-family: var(--default-font-family);
  --modal-group-edit-width: 600px;
  --modal-group-edit-size: 28px;
  --modal-group-edit-color: color(#000 alpha(40%));
  --modal-group-edit-color-hover: color(#000 alpha(60%));
  --modal-group-edit-transition-duration: var(--default-transition-duration);
}

/* Styles */
.container {
  width: var(--modal-group-edit-width);
  font-family: var(--modal-group-edit-font-family);
}

.back {
  width: var(--modal-group-edit-size);
  height: var(--modal-group-edit-size);
  margin-right: 16px;
  transition: color var(--modal-group-edit-transition-duration) linear;
  color: var(--modal-group-edit-color);

  &:hover {
    color: var(--modal-group-edit-color-hover);
  }
}

.body {
  padding: 0;
}

.footer {
  padding: 0;
}
