/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

:root {
  --message-contact-font-family: var(--default-font-family);
  --message-contact-border-radius: var(--default-border-radius);
  --message-contact-border-color: color(#000 alpha(15%));
  --message-contact-padding: var(--default-padding);
  --message-contact-link-color: var(--color-info);
}

.container {
  all: initial;
  display: flex;
  padding: var(--message-contact-padding);
  border-radius: var(--message-contact-border-radius);
  background-color: #fff;
  box-shadow: 0 0 0 1px var(--message-contact-border-color);
  font-family: var(--message-contact-font-family);
  flex-flow: row-reverse;
  box-sizing: border-box;
}

.avatar {
  overflow: hidden;
  border-radius: 1000px;
  line-height: 0;
  flex: 0 0 auto;
}

.credentials {
  flex: 1 1 auto;
  @apply --flex-fix;
}

.name {
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
}

.phone {
  margin-bottom: 4px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 1.2;
}

.email {
  margin-bottom: 4px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 1.2;
}

.icon {
  margin-right: 6px;
  color: #b2b2b2;
}

.link {
  text-decoration: none;
  border-bottom: 1px dotted var(--message-contact-link-color);
  line-height: inherit;
  color: var(--message-contact-link-color);

  &:hover {
    border-bottom: 1px solid var(--message-contact-link-color);
  }
}

.vertical {
  flex-flow: column;

  & .avatar {
    align-self: center;
    margin-bottom: var(--default-padding);
  }

  & .name {
    text-align: center;
  }

  & .icon {
    display: none;
  }

  & .link {
    line-height: 1.4;
  }
}
