/**
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

:root {
  --activity-media-photo-title-font-size: var(--default-font-size);
  --activity-media-photo-title-color: #000;
  --activity-media-photo-info-font-size: 13px;
  --activity-media-photo-info-color: var(--default-font-color-light);
  --activity-media-photo-image-size: 46px;
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  cursor: inherit;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 12px 0;
  flex: 1 1 auto;
  overflow: hidden;
  font-family: var(--default-font-family);
}

.photo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: 50% 50%;
}

.preview {
  position: relative;
  width: var(--activity-media-photo-image-size);
  height: var(--activity-media-photo-image-size);
  flex: 0 0 auto;
  overflow: hidden;
  margin-right: 14px;
  background-size: cover;
  background-position: 50% 50%;
}

.meta {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  @apply --flex-fix;
}

.title {
  display: inline-block;
  font-weight: 500;
  line-height: 26px;
  height: 26px;
  font-size: var(--activity-media-photo-title-font-size);
  letter-spacing: -0.384px;
  color: var(--activity-media-photo-title-color);
  flex: 0 0 auto;
  @apply --text-overflow-ellipsis;
}

.info {
  display: inline-block;
  line-height: 16px;
  height: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: var(--activity-media-photo-info-font-size);
  color: var(--activity-media-photo-info-color);
  letter-spacing: -0.336px;
  @apply --text-overflow-ellipsis;
}
