/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

:root {
  --activity-media-document-title-font-size: var(--default-font-size);
  --activity-media-document-title-color: #000;
  --activity-media-document-info-font-size: 13px;
  --activity-media-document-info-color: var(--default-font-color-light);
  --activity-media-preview-image-size: 46px;
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  cursor: inherit;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 12px 0;
  flex: 1 1 auto;
  overflow: hidden;
  font-family: var(--default-font-family);
}

.preview {
  width: var(--activity-media-preview-image-size);
  height: var(--activity-media-preview-image-size);
  background-color: #ff3939;
  flex: 0 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 4px;
  margin-right: 14px;
  border-radius: 1000px;
}

.extension {
  color: white;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  @apply --text-overflow-ellipsis;
}

.meta {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  @apply --flex-fix;
}

.title {
  display: inline-block;
  font-weight: 500;
  line-height: 26px;
  height: 26px;
  font-size: var(--activity-media-document-title-font-size);
  letter-spacing: -0.384px;
  color: var(--activity-media-document-title-color);
  flex: 0 0 auto;
  @apply --text-overflow-ellipsis;
}

.info {
  display: inline-block;
  line-height: 16px;
  height: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: var(--activity-media-document-info-font-size);
  color: var(--activity-media-document-info-color);
  letter-spacing: -0.336px;
  @apply --text-overflow-ellipsis;
}

.sender {
  display: inline;
}

.arrow {
  display: inline-block;
  float: left;
  color: var(--color-primary);
  margin-right: 4px;
}
