/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --button-next-background-color: #705eff;
  --button-next-hover-background-color: #9b40ff;
  --button-next-border-radius: 50px;
}
/* Main */
.container {
  all: initial;
  display: inline-block;
  box-sizing: border-box;
  min-width: var(--button-min-width);
  cursor: pointer;
  user-select: none;
  transition-timing-function: ease;
  transition-duration: var(--button-transition-duration);
  transition-property: color, background, box-shadow, text-shadow;
  text-align: center;
  border: 0;
  outline: none;
  background-color: transparent;
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  color: #000;

  &[disabled] {
    cursor: not-allowed;
  }
}

.wide {
  width: 100%;
}

.rounded {
  border-radius: var(--button-border-radius);

  &.small {
    border-radius: var(--button-border-radius-small);
  }
}

.loading {
  margin-left: 6px;

  & div {
    background-color: #fff;
  }
}

/* Themes */
.default {
  background-color: var(--button-default-background-color);
  color: var(--button-default-color);

  &:hover:enabled,
  &:focus:enabled {
    background-color: var(--button-default-hover-background-color);
  }

  &:active:enabled {
    background-color: var(--button-default-active-background-color);
  }

  &[disabled] {
    background-color: var(--button-default-disabled-background-color);
  }
}

.primary {
  background-color: var(--button-primary-background-color);
  color: var(--button-primary-color);

  &:hover:enabled,
  &:focus:enabled {
    background-color: var(--button-primary-hover-background-color);
  }

  &:active:enabled {
    background-color: var(--button-primary-active-background-color);
  }

  &[disabled] {
    background-color: var(--button-primary-disabled-background-color);
  }
}

.success {
  background-color: var(--button-success-background-color);
  color: var(--button-success-color);

  &:hover:enabled,
  &:focus:enabled {
    background-color: var(--button-success-hover-background-color);
  }

  &:active:enabled {
    background-color: var(--button-success-active-background-color);
  }

  &[disabled] {
    background-color: var(--button-success-disabled-background-color);
  }
}

.danger {
  background-color: var(--button-danger-background-color);
  color: var(--button-danger-color);

  &:hover:enabled,
  &:focus:enabled {
    background-color: var(--button-danger-hover-background-color);
  }

  &:active:enabled {
    background-color: var(--button-danger-active-background-color);
  }

  &[disabled] {
    background-color: var(--button-danger-disabled-background-color);
  }
}

.info {
  background-color: var(--button-info-background-color);
  color: var(--button-info-color);

  &:hover:enabled,
  &:focus:enabled {
    background-color: var(--button-info-hover-background-color);
  }

  &:active:enabled {
    background-color: var(--button-info-active-background-color);
  }

  &[disabled] {
    background-color: var(--button-info-disabled-background-color);
  }
}

.warning {
  background-color: var(--button-warning-background-color);
  color: var(--button-warning-color);

  &:hover:enabled,
  &:focus:enabled {
    background-color: var(--button-warning-hover-background-color);
  }

  &:active:enabled {
    background-color: var(--button-warning-active-background-color);
  }

  &[disabled] {
    background-color: var(--button-warning-disabled-background-color);
  }
}

/* View */
.button {
  text-shadow: var(--button-default-text-shadow);

  &:hover:enabled,
  &:focus:enabled {
    box-shadow: var(--button-default-box-shadow);
  }

  &:active:enabled {
    box-shadow: var(--button-default-box-shadow-active);
  }
}

.next {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--button-next-background-color);
  color: white;
  min-width: 200px;
  &.default,
  &.primary,
  &.success,
  &.danger,
  &.info,
  &.warning {
    &:hover,
    &:focus {
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
      background-color: var(--button-next-hover-background-color);
    }
    &:active {
      background-color: var(--button-next-hover-background-color);
      box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.3);
    }

    &[disabled] {
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
      background-color: var(--button-next-background-color);
      color: white;
      opacity: .8;
    }

    &.rounded {
      border-radius: var(--button-next-border-radius);
    }
  }
}

.link {
  background-color: transparent !important;
  box-shadow: none !important;

  &.default {
    color: var(--button-default-background-color);

    &:hover,
    &:focus {
      color: var(--button-default-hover-background-color);
    }

    &:active {
      color: var(--button-default-active-background-color);
    }

    &[disabled] {
      color: var(--button-default-disabled-background-color);
    }
  }

  &.primary {
    color: var(--button-primary-background-color);

    &:hover,
    &:focus {
      color: var(--button-primary-hover-background-color);
    }

    &:active {
      color: var(--button-primary-active-background-color);
    }

    &[disabled] {
      color: var(--button-primary-disabled-background-color);
    }
  }

  &.success {
    color: var(--button-success-background-color);

    &:hover,
    &:focus {
      color: var(--button-success-hover-background-color);
    }

    &:active {
      color: var(--button-success-active-background-color);
    }

    &[disabled] {
      color: var(--button-success-disabled-background-color);
    }
  }

  &.danger {
    color: var(--button-danger-background-color);

    &:hover,
    &:focus {
      color: var(--button-danger-hover-background-color);
    }

    &:active {
      color: var(--button-danger-active-background-color);
    }

    &[disabled] {
      color: var(--button-danger-disabled-background-color);
    }
  }

  &.info {
    color: var(--button-info-background-color);

    &:hover,
    &:focus {
      color: var(--button-info-hover-background-color);
    }

    &:active {
      color: var(--button-info-active-background-color);
    }

    &[disabled] {
      color: var(--button-info-disabled-background-color);
    }
  }

  &.warning {
    color: var(--button-warning-background-color);

    &:hover,
    &:focus {
      color: var(--button-warning-hover-background-color);
    }

    &:active {
      color: var(--button-warning-active-background-color);
    }

    &[disabled] {
      color: var(--button-warning-disabled-background-color);
    }
  }
}

.outline {
  background-color: transparent;
  text-shadow: 0 0 0 transparent;

  &:hover,
  &:focus,
  &:active {
    text-shadow: var(--button-default-text-shadow);
  }

  &.default {
    box-shadow: inset 0 0 0 2px var(--button-default-background-color);
    color: var(--button-default-background-color);

    &:hover,
    &:focus {
      background-color: var(--button-default-hover-background-color);
      box-shadow: inset 0 0 0 2px var(--button-default-hover-background-color);
      color: #fff;
    }

    &:active {
      background-color: var(--button-default-active-background-color);
      box-shadow: inset 0 0 0 2px var(--button-default-active-background-color);
      color: #fff;
    }
  }

  &.primary {
    box-shadow: inset 0 0 0 2px var(--button-primary-background-color);
    color: var(--button-primary-background-color);

    &:hover,
    &:focus {
      background-color: var(--button-primary-hover-background-color);
      box-shadow: inset 0 0 0 2px var(--button-primary-hover-background-color);
      color: #fff;
    }

    &:active {
      background-color: var(--button-primary-active-background-color);
      box-shadow: inset 0 0 0 2px var(--button-primary-active-background-color);
      color: #fff;
    }
  }

  &.success {
    box-shadow: inset 0 0 0 2px var(--button-success-background-color);
    color: var(--button-success-background-color);

    &:hover,
    &:focus {
      background-color: var(--button-success-hover-background-color);
      box-shadow: inset 0 0 0 2px var(--button-success-hover-background-color);
      color: #fff;
    }

    &:active {
      background-color: var(--button-success-active-background-color);
      box-shadow: inset 0 0 0 2px var(--button-success-active-background-color);
      color: #fff;
    }
  }

  &.danger {
    box-shadow: inset 0 0 0 2px var(--button-danger-background-color);
    color: var(--button-danger-background-color);

    &:hover,
    &:focus {
      background-color: var(--button-danger-hover-background-color);
      box-shadow: inset 0 0 0 2px var(--button-danger-hover-background-color);
      color: #fff;
    }

    &:active {
      background-color: var(--button-danger-active-background-color);
      box-shadow: inset 0 0 0 2px var(--button-danger-active-background-color);
      color: #fff;
    }
  }

  &.info {
    box-shadow: inset 0 0 0 2px var(--button-info-background-color);
    color: var(--button-info-background-color);

    &:hover,
    &:focus {
      background-color: var(--button-info-hover-background-color);
      box-shadow: inset 0 0 0 2px var(--button-info-hover-background-color);
      color: #fff;
    }

    &:active {
      background-color: var(--button-info-active-background-color);
      box-shadow: inset 0 0 0 2px var(--button-info-active-background-color);
      color: #fff;
    }
  }

  &.warning {
    box-shadow: inset 0 0 0 2px var(--button-warning-background-color);
    color: var(--button-warning-background-color);

    &:hover,
    &:focus {
      background-color: var(--button-warning-hover-background-color);
      box-shadow: inset 0 0 0 2px var(--button-warning-hover-background-color);
      color: #fff;
    }

    &:active {
      background-color: var(--button-warning-active-background-color);
      box-shadow: inset 0 0 0 2px var(--button-warning-active-background-color);
      color: #fff;
    }
  }
}

/* Sizes */
.small {
  padding-top: calc(var(--button-padding-top) * (1 - var(--button-size-modifier)));
  padding-right: calc(var(--button-padding-right) * (1 - var(--button-size-modifier)));
  padding-bottom: calc(var(--button-padding-bottom) * (1 - var(--button-size-modifier)));
  padding-left: calc(var(--button-padding-left) * (1 - var(--button-size-modifier)));
  font-size: calc(var(--button-font-size) * (1 - var(--button-size-modifier)));
  line-height: calc(var(--button-line-height) * (1 - var(--button-size-modifier)));
}

.normal {
  padding-top: var(--button-padding-top);
  padding-right: var(--button-padding-right);
  padding-bottom: var(--button-padding-bottom);
  padding-left: var(--button-padding-left);
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
}

.large {
  padding-top: calc(var(--button-padding-top) * (1 + var(--button-size-modifier)));
  padding-right: calc(var(--button-padding-right) * (1 + var(--button-size-modifier)));
  padding-bottom: calc(var(--button-padding-bottom) * (1 + var(--button-size-modifier)));
  padding-left: calc(var(--button-padding-left) * (1 + var(--button-size-modifier)));
  font-size: calc(var(--button-font-size) * (1 + var(--button-size-modifier)));
  line-height: calc(var(--button-line-height) * (1 + var(--button-size-modifier)));
}
