/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

:root {
  --message-voice-font-family: var(--default-font-family);
  --message-voice-height: 70px;
  --message-voice-padding: 12px;
  --message-voice-border-radius: var(--default-border-radius);
  --message-voice-background-color: #fff;
  --message-voice-border-color: color(#000 alpha(15%));
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  display: flex;
  height: var(--message-voice-height);
  flex-direction: row;
  box-sizing: border-box;
  cursor: default;
  user-select: none;
  border-radius: var(--message-voice-border-radius);
  background-color: var(--message-voice-background-color);
  box-shadow: 0 0 0 1px var(--message-voice-border-color);
  font-family: var(--message-voice-font-family);
  padding: var(--message-voice-padding);
  position: relative;
}
