/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --avatar-selector-transitio-duration: var(--default-transition-duration);
  --avatar-selector-camera-icon-color: var(--color-primary);
  --avatar-selector-camera-icon-color-hover: color(var(--avatar-selector-camera-icon-color) alpha(90%));
  --avatar-selector-remove-icon-color: var(--color-danger);
  --avatar-selector-remove-icon-color-hover: color(var(--avatar-selector-remove-icon-color) alpha(90%));
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  position: relative;
  display: block;
  line-height: 0;
}

.avatar {
  cursor: pointer;
}

.avatarChanger {
  position: absolute;
  right: 6px;
  bottom: 6px;
  cursor: pointer;
  border-radius: 100px;
  background-color: #fff;
  padding: 5px;

  &:hover {
    & .avatarChangerIcon {
      opacity: 1;
      color: var(--avatar-selector-camera-icon-color-hover);
    }
  }
}

.avatarChangerIcon {
  color: var(--avatar-selector-camera-icon-color);
}

.avatarRemove {
  position: absolute;
  right: 10px;
  top: 6px;
  cursor: pointer;
  border-radius: 100px;
  background-color: #fff;
  padding: 2px;
  transition: all var(--avatar-selector-transitio-duration) ease;

  &:hover {
    transform: scale(1.2);

    & .avatarRemoveIcon {
      opacity: 1;
      color: var(--avatar-selector-remove-icon-color-hover);
    }
  }
}

.avatarRemoveIcon {
  color: var(--avatar-selector-remove-icon-color);
}
