/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --custom-form-font-family: var(--default-font-family);
  --custom-form-description-font-size: var(--default-font-size);
  --custom-form-text-color: #000;
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  width: 100%;
}

.description {
  margin: 0;
  color: var(--custom-form-text-color);
  line-height: 1.4;
  font-family: var(--custom-form-font-family);
}

.field {
  padding: var(--default-padding-small) 0;
  width: 100%;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.input {
  margin-bottom: 0 !important;
}
