/**
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --activity-media-font-family: var(--default-font-family);
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  font-family: var(--activity-media-font-family);
  display: block;
}

.empty {
  padding: 2rem 30px;
  text-align: center;
}

.item {
  display: block;
  width: 100%;
}
