/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

.container {
  /*position: relative;*/
  overflow-y: auto;
  width: 100%;
  height: 100%;
  min-height: 1px;
  max-height: 100%;
  outline: none;
}

.fromBottom {
  display: flex;
  flex-flow: column nowrap;

  & > div:first-child {
    margin-top: auto;
  }
}
