/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

:root {
  --activity-media-video-title-font-size: var(--default-font-size);
  --activity-media-video-title-color: #000;
  --activity-media-video-info-font-size: 13px;
  --activity-media-video-info-color: var(--default-font-color-light);
  --activity-media-video-preview-size: 46px;
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  cursor: inherit;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 12px 0;
  flex: 1 1 auto;
  overflow: hidden;
  font-family: var(--default-font-family);
}

.preview {
  width: var(--activity-media-video-preview-size);
  height: var(--activity-media-video-preview-size);
  flex: 0 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  margin-right: 14px;
  background-size: cover;
  background-position: 50% 50%;
}

.meta {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  @apply --flex-fix;
}

.title {
  display: inline-block;
  font-weight: 500;
  line-height: 26px;
  height: 26px;
  font-size: var(--activity-media-video-title-font-size);
  letter-spacing: -0.384px;
  color: var(--activity-media-video-title-color);
  flex: 0 0 auto;
  @apply --text-overflow-ellipsis;
}

.info {
  display: inline-block;
  align-items: center;
  line-height: 16px;
  height: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: var(--activity-media-video-info-font-size);
  color: var(--activity-media-video-info-color);
  letter-spacing: -0.336px;
  @apply --text-overflow-ellipsis;
}

.play {
  color: #fff;
}

.previewEmpty {
  box-shadow: inset 0 0 0 2px var(--color-primary);

  & .play {
    color: var(--color-primary);
  }
}
