/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --modal-profile-font-family: var(--default-font-family);
  --modal-profile-width: 600px;
  --modal-profile-form-width: 400px;
  --modal-profile-font-size: var(--default-font-size);
  --modal-profile-text-color-light: var(--default-font-color-light);
  --modal-profile-contact-font-color: var(--color-primary);
  --modal-profile-back-size: 28px;
  --modal-profile-back-transition-duration: var(--default-transition-duration);
  --modal-profile-back-color: color(#000 alpha(40%));
  --modal-profile-back-color-hover: color(#000 alpha(60%));
}

/* Styles */
.container {
  width: var(--modal-profile-width);
  font-family: var(--modal-profile-font-family);
}

.body {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: calc(var(--default-padding-large) * 1.5) calc(var(--default-padding) * 2);
}

.avatarBlock {
  margin-right: 34px;
  flex: 0 0 auto;
}

.back {
  width: var(--modal-profile-back-size);
  height: var(--modal-profile-back-size);
  margin-right: 16px;
  transition: color var(--modal-profile-back-transition-duration) linear;
  color: var(--modal-profile-back-color);

  &:hover {
    color: var(--modal-profile-back-color-hover);
  }
}

.form {
  flex: 1;
}

.field {
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
}

.input {
  &:last-child {
    margin-bottom: 0;
  }
}

.name,
.nick,
.about {
  composes: input;
}

.contacts {
  & > div {
    margin-top: 6px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.footer {
  padding: 0;
}

.pendingWrapper {
  min-height: 400px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.contactTitle {
  letter-spacing: -0.27px;
  font-size: var(--default-font-size-small);
  line-height: 20px;
  color: var(--modal-profile-text-color-light);
}

.contactContent {
  margin-top: var(--default-padding-small);

  &:first-child {
    margin-top: 0;
  }
}

.contactLinkWrapper {
  margin-bottom: 4px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contactLink {
  letter-spacing: -0.4px;
  font-size: var(--modal-profile-font-size);
  line-height: 16px;
  display: inline-block;
  color: var(--modal-profile-contact-font-color);
  text-decoration: none;
  border-bottom: 1px dotted var(--modal-profile-contact-font-color);

  &:hover {
    border-bottom: 1px solid var(--modal-profile-contact-font-color);
  }
}
