/**
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --permission-banner-font-family: var(--default-font-family);
  --permission-banner-font-size: 15px;
  --permission-banner-text-color: #fff;
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  font-family: var(--permission-banner-font-family);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 8px 38px;
  min-height: 38px;
  box-sizing: border-box;
}

.wrapper {
  flex: 1;
  display: block;
  text-align: center;
}

.text {
  font-size: var(--permission-banner-font-size);
  color: var(--permission-banner-text-color);
  display: inline-block;
  line-height: 20px;
  @apply --no-select;

  & b {
    font-weight: 500;
  }
}

.request {
  height: 20px;
  line-height: 20px;
  margin-left: var(--default-padding-small);
  color: var(--permission-banner-text-color);
  font-size: var(--permission-banner-font-size);
  font-weight: 500;
  border-bottom: 1px dotted color(var(--permission-banner-text-color) alpha(70%));
  display: inline-block;
  @apply --no-select;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid var(--permission-banner-text-color);
  }
}

.close {
  display: inline-block;
  position: absolute;
  width: 22px;
  height: 22px;
  top: 8px;
  right: 8px;
  fill: color(var(--permission-banner-text-color) alpha(50%));
  transition: fill var(--default-transition-duration) ease;

  &:hover {
    fill: color(var(--permission-banner-text-color) alpha(90%));
  }
}

.notifications {
  background-color: var(--color-info);
}

.mic {
  background-color: var(--color-warning);
}

.camera {
  background-color: var(--color-success);
}
