/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

/* Reset */
.input {
  all: initial;
}

/* Styles */
.container {
  box-shadow: inset 0 -1px 0 0 color(#000 alpha(10%));
  background-color: #f2f0f5;
  padding: 8px 32px;
  display: flex;
}

.input {
  //margin: 2px 0;
  letter-spacing: -0.2px;
  font-family: var(--default-font-family);
  font-size: 15px;
  line-height: 38px;
  flex: 1 1 auto;
}
