/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --fake-message-avatar-size: 40px;
  --fake-message-avatar-color: #c5c5c5;
  --fake-message-header-height: 12px;
  --fake-message-header-text-color: #cacaca;
  --fake-message-line-height: 10px;
  --fake-message-text-color: color(var(--fake-message-header-text-color) alpha(60%));
  --fake-message-vertical-padding: 6px;
  --fake-message-horizontal-padding: 20px;
}

/* Reset */
.container {
  all: initial;
}

/* Styles*/
.container {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: var(--fake-message-vertical-padding) var(--fake-message-horizontal-padding);
  flex: 0 0 auto;
}

.avatar {
  width: var(--fake-message-avatar-size);
  height: var(--fake-message-avatar-size);
  margin-right: var(--fake-message-horizontal-padding);
  border-radius: 50%;
  background-color: var(--fake-message-avatar-color);
  flex: 0 0 auto;
  align-self: flex-start;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-content: flex-start;
  justify-content: flex-start;
}

.header {
  margin-top: 2px;
  line-height: 0;
 }

.line {
  display: inline-block;
  height: var(--fake-message-line-height);
  margin-right: 12px;
  margin-bottom: 8px;
  border-radius: 10px;
  background-color: var(--fake-message-text-color);
  line-height: 0;
}

.lineHeader {
  composes: line;
  height: var(--fake-message-header-height);
  margin-bottom: 15px;
  background-color: var(--fake-message-header-text-color);
}
