/**
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --markdown-padding: 4px;
  --markdown-line-height: 20px;
  --markdown-code-line-height: 20px;
  --markdown-mention-line-height: 20px;
  --markdown-font-size: var(--default-font-size);
  --markdown-code-font-size: var(--default-font-size-small);
  --markdown-pre-font-size: 12px;
}

.container {
  font-family: var(--default-font-family);
  line-height: var(--markdown-line-height);
  font-size: var(--markdown-font-size);
}

.inline {
  font-family: var(--default-font-family);
  line-height: inherit;
  font-size: inherit;

  & .paragraph,
  & .blockquote,
  & .mention,
  & .pre,
  & .code {
    line-height: inherit;
  }
}

.pre {
  font-family: var(--code-font-family);
  overflow: auto;
  margin: var(--markdown-padding) calc(0 - var(--markdown-padding));
  padding: var(--markdown-padding);
  white-space: pre;
  word-wrap: normal;
  border-radius: var(--default-border-radius);
  background-color: color(#000 alpha(5%));
  box-shadow: inset 0 1px 1px 0 color(#000 alpha(10%));
  font-size: var(--markdown-pre-font-size);
  line-height: 1.5;
  vertical-align: inherit;

  & code {
    font-family: var(--code-font-family);
  }
}

.paragraph {
  margin: var(--markdown-padding) 0;
  word-wrap: break-word;
}

.blockquote {
  margin: calc(var(--markdown-padding) + 2) 0;
  padding: 4px 12px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    background-color: var(--color-info);
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    border-radius: 1000px;
  }
}

.pre,
.paragraph,
.blockquote {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.code {
  padding: 1px 2px;
  margin: -1px;
  font-size: var(--markdown-code-font-size);
  border-radius: var(--default-border-radius-small);
  box-shadow: inset 0 1px 1px 0 color(#000 alpha(10%));
  background-color: color(#000 alpha(7.5%));
  font-family: var(--code-font-family);
  display: inline-block;
  box-sizing: border-box;
  vertical-align: inherit;
  word-break: break-word;
  line-height: var(--markdown-code-line-height);
}

.bold {
  font-weight: 500;
}

.italic {
  font-style: italic;
}

.strike {
  text-decoration: line-through;
}

.link {
  text-decoration: none;
  border-bottom: 1px dotted var(--color-info);
  color: var(--color-info);
  vertical-align: inherit;

  &:hover {
    border-bottom: 1px solid var(--color-info);
  }
}

.mention {
  display: inline-block;
  padding: 1px 2px;
  margin: -1px;
  box-sizing: border-box;
  border-radius: var(--default-border-radius-small);
  box-shadow: inset 0 1px 1px 0 color(#000 alpha(10%));
  background-color: color(var(--color-primary) alpha(10%));
  vertical-align: inherit;
  line-height: var(--markdown-mention-line-height);
}

.break {

}
