/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --field-border-color: color(#000 alpha(10%));
  --field-padding: var(--default-padding);
  --field-font-family: var(--default-font-family);
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  padding: var(--field-padding) 0;
  box-shadow: 0 1px 0 0 var(--field-border-color);
  font-family: var(--field-font-family);
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;

  &:last-child {
    box-shadow: none;
  }
}
