/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --activity-header-height: 60px;
  --activity-header-font-family: var(--default-font-family);
  --activity-header-transition-duration: var(--default-transition-duration);
  --activity-header-font-size: var(--default-font-size-large);
  --activity-header-icon-color: color(#000 alpha(40%));
  --activity-header-icon-color-hover: color(#000 alpha(60%));
  --activity-header-z-index: var(--z-index-chat);
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  position: relative;
  display: block;
  min-height: var(--activity-header-height);
  font-family: var(--activity-header-font-family);
  font-size: var(--activity-header-font-size);
  font-weight: 500;
  line-height: 30px;
  flex: 1 1 auto;
  padding: 15px 40px;
  text-align: center;
  letter-spacing: -0.3px;
  @apply --no-select;
  box-sizing: border-box;
  z-index: var(--activity-header-z-index);
}

.icon {
  transform: translateY(-50%);
  transition: color var(--activity-header-transition-duration) linear;
  color: var(--activity-header-icon-color);
  cursor: pointer;
  border-radius: 100px;
  line-height: 0;
  display: block;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  pointer-events: all !important;

  &:hover {
    color: var(--activity-header-icon-color-hover);
  }
}

.iconBack {
  composes: icon;
  left: 20px;
}

.iconClose {
  composes: icon;
  right: 20px;
}
