/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

.container {
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: var(--default-padding-large) 0;
  transition: transform 250ms ease;
}

.small {
  margin: 0;
  padding: calc(var(--default-padding) / 2) 0;

  &.audio {
    position: relative;
    background-color: color(#000 alpha(1%));
    border-top: 1px solid color(#000 alpha(4%));
  }
}

.button {
  margin: 0 5px;
}

.sizeButton {
  composes: button;
  position: absolute;
  top: var(--default-padding);
  right: var(--default-padding);
  margin: 0;
}

.hide {
  transform: translateY(150px);
}
