/**
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --activity-invite-font-family: var(--default-font-family);
  --activity-invite-font-size: var(--default-font-size);
  --activity-invite-border-color: #e5e5e5;
  --activity-invite-link-font-size: 24px;
  --activity-invite-link-color: color(#000 alpha(90%));
}

/* Reset */
.container,
.hr {
  all: initial;
}

/* Styles */
.container {
  font-family: var(--activity-invite-font-family);
  display: block;
  padding: var(--default-padding-large) calc(var(--default-padding-large) * 1.5);
}

.hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: var(--default-padding) 0;
  background-color: var(--activity-invite-border-color);
}

.block {
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.text {
  flex: 1 1 auto;
  @apply --flex-fix;
  font-size: var(--activity-invite-font-size);
}

.linkContainer {
  display: inline-flex;
  flex-direction: row;
  min-height: 60px;
  margin-bottom: var(--default-padding-large);
  justify-content: center;
  align-items: center;
  align-content: center;
}

.link {
  word-break: break-all;
  font-size: var(--activity-invite-link-font-size);
  line-height: 1.25;
  color: var(--activity-invite-link-color);
}

.revoke {
  cursor: pointer;
  user-select: none;
}
