/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

:root {
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  cursor: inherit;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 12px 0;
  flex: 1 1 auto;
  overflow: hidden;
  font-family: var(--default-font-family);
}

.audio {
  width: 100%;
}
