/**
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --activity-media-header-height: 60px;
  --activity-media-header-font-family: var(--default-font-family);
  --activity-media-header-transition-duration: var(--default-transition-duration);
  --activity-media-header-font-size: var(--default-font-size-large);
  --activity-media-header-icon-size: 26px;
  --activity-media-header-icon-padding: 2px;
  --activity-media-header-icon-color: color(#000 alpha(40%));
  --activity-media-header-icon-color-hover: color(#000 alpha(60%));
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  position: relative;
  display: block;
  min-height: var(--activity-media-header-height);
  font-family: var(--activity-media-header-font-family);
  font-size: var(--activity-media-header-font-size);
  font-weight: 500;
  line-height: 30px;
  flex: 1 1 auto;
  padding: 15px 40px;
  text-align: center;
  letter-spacing: -0.3px;
  @apply --no-select;
  box-sizing: border-box;
}

.icon {
  width: var(--activity-media-header-icon-size);
  height: var(--activity-media-header-icon-size);
  transition: color var(--activity-media-header-transition-duration) linear;
  color: var(--activity-media-header-icon-color);
}

.iconWrapper {
  cursor: pointer;
  border-radius: 100px;
  line-height: 0;
  display: block;
  position: absolute;
  box-sizing: border-box;
  padding: var(--activity-media-header-icon-padding);
  width: calc(var(--activity-media-header-icon-size) + (var(--activity-media-header-icon-padding) * 2));
  height: calc(var(--activity-media-header-icon-size) + (var(--activity-media-header-icon-padding) * 2));
  background-color: color(#fff alpha(50%));
  top: 15px;

  &:hover {
    & .icon {
      color: var(--activity-media-header-icon-color-hover);
    }
  }
}

.iconBackWrapper {
  composes: iconWrapper;
  left: 18px;
}

.iconCloseWrapper {
  composes: iconWrapper;
  right: 18px;
}

.current {
  cursor: pointer;
  @apply --no-select;
  height: 28px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-flow: row nowrap;

  & .arrow {
    color: var(--activity-media-header-icon-color);
  }

  &:hover {
    & .arrow {
      color: var(--activity-media-header-icon-color-hover);
    }
  }
}

.currentActive {
  & .arrow {
    color: var(--activity-media-header-icon-color-hover);
  }
}

.currentText {
  cursor: pointer;
  flex: 0 0 auto;
  @apply --text-overflow-ellipsis;
}

.arrow {
  cursor: pointer;
  flex: 0 0 auto;
  margin: 5px 0 0 2px;
}
