/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --input-next-font-family: var(--default-font-family);
  --input-next-font-size: var(--default-font-size);
  --input-next-border-radius: var(--default-border-radius);
  --input-next-small-border-radius: var(--default-border-radius-small);
  --input-next-line-height: 26px;
  --input-next-background-color: #fff;
  --input-next-text-color: #333;
  --input-next-placeholder-color: #aaa;
  --input-next-border-color: #d1d3d8;
  --input-next-label-font-size: var(--default-font-size-small);
  --input-next-label-color: #808080;
  --input-next-hover-border-color: color(var(--input-next-border-color) shade(15%));
  --input-next-focus-border-color: var(--color-primary);
  --input-next-focus-outline-color: color(var(--input-next-focus-border-color) alpha(20%));
  --input-next-transition-duration: calc(var(--default-transition-duration) / 1.5);
  --input-next-success-color: var(--color-success);
  --input-next-error-color: var(--color-danger);
  --input-next-hint-font-family: var(--input-next-font-family);
  --input-next-hint-font-size: var(--default-font-size-small);
  --input-next-hint-line-height: 1.2;
  --input-next-size-modifier: 0.25;
  --input-next-small-font-size: var(--default-font-size-small);
  --input-next-hint-color: var(--input-next-placeholder-color);
  --input-next-padding-top: var(--default-padding-small);
  --input-next-padding-right: var(--default-padding);
  --input-next-padding-bottom: var(--default-padding-small);
  --input-next-padding-left: var(--default-padding);
  --input-next-description-font-family: var(--input-next-font-family);
  --input-next-description-font-size: var(--default-font-size-small);
  --input-next-description-line-height: 1.3;
}

/* Reset */
.container,
.input,
.label,
.prefix,
.hint {
  all: initial;
}

/* Styles */
.container {
  display: block;
  width: 100%;
  margin-bottom: var(--default-padding);
  line-height: 0;
  position: relative;
  z-index: var(--z-index-input);
}

.input {
  border: 0;
  outline: none;
  font-family: var(--input-next-font-family);
  font-size: var(--input-next-font-size);
  cursor: text;
  color: var(--input-next-text-color);
  line-height: var(--input-next-line-height);
  box-sizing: border-box;
  width: 100%;
  transition: box-shadow var(--input-next-transition-duration) ease-in;

  &::-webkit-input-placeholder {
    color: var(--input-next-placeholder-color);
  }

  &:-moz-placeholder {
    color: var(--input-next-placeholder-color);
  }

  &::-moz-placeholder {
    color: var(--input-next-placeholder-color);
  }

  &:-ms-input-placeholder {
    color: var(--input-next-placeholder-color);
  }
}

.filled {}

.label {
  @apply --no-select;
  color: var(--input-next-label-color);
  font-family: var(--input-next-font-family);
  font-size: var(--input-next-label-font-size);
  line-height: 1.4;
  display: inline-block;
  margin-bottom: calc(var(--default-padding-small) / 2);
  cursor: pointer;

  & small {
    margin-left: calc(var(--default-padding-small) / 2);
    color: color(var(--input-next-label-color) alpha(60%));
  }
}

.prefix {
  font-family: var(--input-next-hint-font-family);
  font-size: var(--input-next-hint-font-size);
  line-height: var(--input-next-hint-line-height);
  color: var(--input-next-hint-color);
}

.description {
  display: block;
  font-family: var(--input-next-description-font-family);
  font-size: var(--input-next-description-font-size);
  line-height: var(--input-next-description-line-height);
  margin-bottom: calc(var(--default-padding) / 2);
}

.hint {
  display: inline-block;
  user-select: none;
  font-family: var(--input-next-hint-font-family);
  font-size: var(--input-next-hint-font-size);
  line-height: var(--input-next-hint-line-height);
  color: var(--input-next-hint-color);
  margin-top: calc(var(--default-padding-small) / 2);
  @apply --no-select;
}

.disabled {
  & .label {
    cursor: not-allowed;
  }

  & .inputWrapper {
    opacity: 0.6;
    box-shadow: inset 0 0 0 1px var(--input-next-border-color) !important;
  }

  & .input,
  & .prefix {
    cursor: not-allowed;
  }
}

/* Success state */
.success {
  & .inputWrapper {
    box-shadow: inset 0 0 0 1px var(--input-next-success-color);

    &:hover {
      box-shadow: inset 0 0 0 1px color(var(--input-next-success-color) shade(15%));
    }
  }

  & .hint {
    color: var(--input-next-success-color);
  }
}

/* Error state */
.error {
  & .inputWrapper {
    box-shadow: inset 0 0 0 1px var(--input-next-error-color);

    &:hover {
      box-shadow: inset 0 0 0 1px color(var(--input-next-error-color) shade(15%));
    }
  }

  & .hint {
    color: var(--input-next-error-color);
  }
}

.small {
  & .inputWrapper {
    border-radius: var(--input-next-small-border-radius);
  }

  & .input {
    padding-top: calc(var(--input-next-padding-top) * (1 - var(--input-next-size-modifier)));
    padding-right: var(--input-next-padding-right);
    padding-bottom: calc(var(--input-next-padding-bottom) * (1 - var(--input-next-size-modifier)));
    padding-left: var(--input-next-padding-left);
    font-size: var(--input-next-small-font-size);
    line-height: calc(var(--input-next-line-height) * (1 - var(--input-next-size-modifier)));
  }

  & .prefix {
    padding-top: calc(var(--input-next-padding-top) * (1 - var(--input-next-size-modifier)));
    padding-right: 2px;
    padding-bottom: calc(var(--input-next-padding-bottom) * (1 - var(--input-next-size-modifier)));
    padding-left: var(--input-next-padding-left);
    font-size: var(--input-next-small-font-size);
    line-height: calc(var(--input-next-line-height) * (1 - var(--input-next-size-modifier)));
  }

  & .prefixed {
    padding-left: 0;
  }
}

.normal {
  & .inputWrapper {
    border-radius: var(--input-next-border-radius);
  }

  & .input {
    padding-top: var(--input-next-padding-top);
    padding-right: var(--input-next-padding-right);
    padding-bottom: var(--input-next-padding-bottom);
    padding-left: var(--input-next-padding-left);
    font-size: var(--input-next-font-size);
    line-height: var(--input-next-line-height);
  }

  & .prefix {
    padding-top: var(--input-next-padding-top);
    padding-right: 2px;
    padding-bottom: var(--input-next-padding-bottom);
    padding-left: var(--input-next-padding-left);
    font-size: var(--input-next-font-size);
    line-height: var(--input-next-line-height);
  }

  & .prefixed {
    padding-left: 0;
  }
}

.textarea {
  line-height: 1.2 !important;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  cursor: text;
  transition: box-shadow var(--default-transition-duration) ease-in-out;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: var(--input-next-background-color);
  border-radius: var(--input-next-border-radius);
  box-shadow: inset 0 0 0 1px var(--input-next-border-color);

  &:hover {
    box-shadow: inset 0 0 0 1px var(--input-next-hover-border-color);
  }
}

.focused {
  & .inputWrapper {
    box-shadow: inset 0 0 0 1px var(--input-next-focus-border-color), 0 0 0 3px var(--input-next-focus-outline-color);
  }

  &.error {
    & .inputWrapper {
      box-shadow: inset 0 0 0 1px var(--input-next-error-color), 0 0 0 3px color(var(--input-next-error-color) alpha(20%));
    }
  }

  &.success {
    & .inputWrapper {
      box-shadow: inset 0 0 0 1px var(--input-next-success-color), 0 0 0 3px color(var(--input-next-success-color) alpha(20%));
    }
  }

  & .prefix {
    color: var(--input-next-focus-border-color);
  }
}

.prefix {
  display: block;
  cursor: text;
  transition: color var(--default-transition-duration) ease-in-out;
  color: var(--input-next-placeholder-color);
}
