/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

.image {
  display: inline-block;
  overflow: hidden;
  cursor: inherit;
  line-height: inherit;
  background-size: 100%;

  /* hide emoji char */
  color: transparent !important;
  text-shadow: none;
  text-indent: -9000px;
}

.char {}
