/**
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --toolbar-messages-button-color: #999;
  --toolbar-messages-button-color-hover: #666;
  --toolbar-messages-button-color-active: #4c4c4c;
  --toolbar-messages-button-active-color: var(--color-primary);
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  display: inline-flex;
  cursor: pointer;
  color: var(--toolbar-messages-button-color);

  &:hover {
    color: var(--toolbar-messages-button-color-hover);
  }

  &:active {
    color: var(--toolbar-messages-button-color-active);
  }
}

.active {
  color: var(--toolbar-messages-button-active-color) !important;

  &:hover {
    opacity: 0.8;
  }
}
