/**
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

:root {
  --message-location-border-radius: var(--default-border-radius);
  --message-location-border-color: color(#000 alpha(15%));
}

.container {
  border-radius: var(--message-location-border-radius);
  line-height: 0;
  box-shadow: 0 0 0 1px var(--message-location-border-color);
}
