/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

:root {
  --message-media-interactive-font-family: var(--default-font-family);
  --message-media-interactive-description-font-size: var(--default-font-size-small);
  --message-media-interactive-title-font-size: var(--default-font-size);
  --message-media-interactive-border-color: var(--color-primary);
  --message-media-interactive-border-width: 3px;
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  display: block;
  font-family: var(--message-media-interactive-font-family);
  margin: calc(var(--default-padding-small) / 2) 0;
  padding: 1px 12px;
  box-shadow: inset var(--message-media-interactive-border-width) 0 0 0 var(--message-media-interactive-border-color);

  &:last-child {
    margin-bottom: 0;
  }
}

.header {
  display: block;
}

.title {
  font-weight: 500;
  font-size: var(--message-media-interactive-title-font-size);
  line-height: 20px;
  margin: 4px 0;
}

.description {
  margin: 4px 0;
  font-size: var(--message-media-interactive-description-font-size);
  line-height: 1.1;
}

.actions {
  margin: 4px 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}
