/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --avatar-text-color: #fff;
  --avatar-text-font-size: 32px;
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  display: inline-block;
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.05);
  border-radius: 100%;
  line-height: 0;
  overflow: hidden;
}

.text {
  font-family: var(--default-font-family);
  font-size: var(--avatar-text-font-size);
  color: var(--avatar-text-color);
  letter-spacing: 2px;
  fill: currentColor;
  text-transform: uppercase;
  user-select: none;
  cursor: inherit;
  vertical-align: middle;
}

.clickable {
  cursor: pointer;
  pointer-events: auto;
  transition: opacity var(--default-transition-duration) ease-in-out;

  &:hover {
    opacity: 0.9;
  }
}
