/**
 * Copyright 2016 Dialog LLC <info@dlg.im>
 */
@import '../../styles/variables.css';

:root {
  --contact-list-font-family: var(--default-font-family);
  --contact-list-item-border-color: color(#000 alpha(10%));
  --contact-list-item-padding: 20px;
  --contact-list-item-hover-background: #f2f2f2;
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  display: block;
  height: 100%;
  font-family: var(--contact-list-font-family);
}

.list {
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.contact {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 var(--contact-list-item-padding);

  @apply --no-select;

  cursor: pointer;

  &::after {
    position: absolute;
    right: var(--contact-list-item-padding);
    left: var(--contact-list-item-padding);
    height: 1px;
    bottom: 0;
    content: '';
    display: block;
    background-color: var(--contact-list-item-border-color);
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

.hovered {
  background-color: var(--contact-list-item-hover-background);
}

.wrapper {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  flex: 1 1 auto;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  @apply  --flex-fix;
}

.avatar {
  flex: 0 0 auto;
}

.text {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  flex: 1 1 auto;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
}

.name {
  letter-spacing: -0.3px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
}

.about {
  letter-spacing: -0.2px;
  font-size: 15px;
  line-height: 1.5;
  color: color(#000 alpha(50%));
}

.circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 0 0 2px color(#000 alpha(20%)) inset;
  flex: 0 0 auto;
}

.selected {
  background-color: var(--color-success);
  box-shadow: none;
  composes: circle;
  color: #ffffff;
}

.icon {
  width: 26px;
  height: 26px;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}
