/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

:root {
  --message-photo-border-raduis: var(--default-border-radius);
  --message-photo-border-color: color(#000 alpha(15%));
  --message-photo-transition-duration: var(--default-transition-duration);
}

.container {
  border-radius: var(--message-photo-border-raduis);
  overflow: hidden;
  line-height: 0;
  box-shadow: 0 0 0 1px var(--message-photo-border-color);
}

.clickable {
  cursor: pointer;
  transition: opacity var(--message-photo-transition-duration) ease;

  &:hover {
    opacity: 0.95;
  }
}
