/**
 * Copyright 2017 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

:root {
  --activity-search-item-font-family: var(--default-font-family);
  --activity-search-item-border-color: #dcdcdc;
  --activity-search-item-header-title-font-size: var(--default-font-size);
  --activity-search-item-header-title-color: #000;
  --activity-search-item-header-date-font-size: 13px;
  --activity-search-item-header-date-color: #8E8E8E;
  --activity-search-item-header-jump-color: var(--color-primary);
}

/* Styles */
.container {
  font-family: var(--activity-search-item-font-family);
  display: block;
  padding: 0 0 8px;
  box-shadow: 0 1px 0 0 var(--activity-search-item-border-color);
  transform: translateZ(0);
  height: auto;
}

.header {
  display: flex;
  padding: 10px 14px 6px;
  line-height: 20px;
  align-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.headerTitle {
  flex: 1 1 auto;
  font-weight: 500;
  line-height: 20px;
  font-size: var(--activity-search-item-header-title-font-size);
  color: var(--activity-search-item-header-title-color);
  @apply --text-overflow-ellipsis;
  @apply --flex-fix;
}

.headerInfo {
  margin-left: 6px;
  flex: 0 0 auto;
  line-height: 20px;
  font-size: var(--activity-search-item-header-date-font-size);
  color: var(--activity-search-item-header-date-color);
  cursor: pointer;
}

.headerInfoJump {
  color: var(--activity-search-item-header-jump-color);
  font-size: var(--activity-search-item-header-date-font-size);
}

.messages {
  display: block;
  cursor: pointer !important;
}

.messagesCollapsed {
  cursor: pointer !important;
}
