/**
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

@keyframes highlight {
  0% {
    background-color: var(--message-highlight-background-color);
  }

  100% {
    background-color: transparent;
  }
}

/* Reset */
.container {
  all: initial;
}

/* Styles */
.container {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 30px;
  box-sizing: border-box;
  padding: var(--message-vertical-padding) 36px var(--message-vertical-padding) var(--message-horizontal-padding);
  transition: box-shadow var(--message-transition-duration) ease-in-out,
    opacity var(--message-transition-duration) ease-in;
  font-family: var(--message-font-family);
  backface-visibility: hidden;
}

.short {
  padding: var(--message-small-vertical-padding) 36px var(--message-small-vertical-padding)
    var(--message-small-horizontal-padding);
}

.avatar {
  flex: 0 0 auto;
}

.info {
  display: block;
  box-sizing: border-box;
  width: 60px;
  padding-right: 20px;
  flex: 0 0 auto;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  align-content: flex-start;
  justify-content: flex-start;
  @apply --flex-fix;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
  flex: 0 1 auto;
  height: 22px;
  align-items: baseline;
}

.sender {
  display: inline-block;
}

.title {
  font-size: 16px;
  font-weight: 500;
  @apply --text-overflow-ellipsis;
}

.username {
  font-size: 14px;
  color: var(--message-username-color);
}

.content {
  line-height: 0;
  flex: 0 0 auto;
}

.actions {
  position: absolute;
  top: -18px;
  right: var(--message-horizontal-padding);
  display: block;
  z-index: var(--z-index-message-actions);
}

.pending {
  opacity: 0.6;
}

.unread {
  background-color: var(--message-unread-color);
  box-shadow: inset var(--message-state-border-width) 0 0 0 color(#000 alpha(20%));
}

.error {
  background-color: transparent;
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 5px,
    var(--message-error-color) 5px,
    var(--message-error-color) 10px
  );
  box-shadow: inset var(--message-state-border-width) 0 0 0 var(--color-danger);

  &.hover {
    background-color: transparent !important;
    background-image: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 5px,
      var(--message-error-hover-color) 5px,
      var(--message-error-hover-color) 10px
    );
  }
}

.hover {
  background-color: var(--message-hover-background-color) !important;
}

.reactions {
  margin-top: calc(var(--default-padding) / 2);
}

.reactionButton {
  margin-right: calc(var(--default-padding) / 2);
  margin-bottom: calc(var(--default-padding) / 4);
}

.selector {
  position: absolute;
  display: block;
  top: 4px;
  right: 8px;
}

.reply {
  margin: 0 -12px 4px;
  background-color: transparent;
  border-radius: 0;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    background-color: var(--color-primary);
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    border-radius: 1000px;
  }
}

.forward {
  margin: 4px -10px 0;
}

.highlight {
  animation-name: highlight;
  animation-duration: 3s;
  transition: background-color 3s ease-out;
}

.selectable {
  cursor: pointer;

  &:active {
    & .selector {
      transform: scale(0.9);
    }
  }
}

.peerInfo {
  display: inline-flex;
  flex: 0 1 auto;
  overflow: hidden;
  align-items: baseline;
}
