/*
 * Copyright 2018 dialog LLC <info@dlg.im>
 */

@import '../../../styles/variables.css';

:root {
  --message-text-color: #000;
  --message-text-font-size: var(--default-font-size);
  --message-text-padding: 6px;
  --message-service-color: var(--default-font-color-light);
}

.container {
  all: initial;
  display: inline-block;
  max-width: 100%;
  user-select: text;
  letter-spacing: -0.3px;
  font-family: var(--default-font-family);
  font-size: var(--message-text-font-size);
  line-height: 22px;
  color: var(--message-text-color);
}

.wrapper {
  display: block;
  margin-bottom: var(--message-text-padding);
}

.service {
  color: var(--message-service-color);
}

.pending {
  color: color(var(--message-text-color) alpha(60%));
}
